<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/icon.png" alt="" class="rounded-circle img-thumbnail" width="200px">
            <h1 class="display-4">Rian Firdani</h1>
            <p class="lead">Senior Programmer | CEO</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae dolorem ut porro veniam architecto sapiente, perferendis dignissimos facere molestias dolorum explicabo numquam beatae. Impedit numquam tempora dicta sed sit repudiandae.
            Maxime natus autem facere perspiciatis, dolorem ut ea fugiat aliquam, hic minus corrupti impedit praesentium sed non repellendus, pariatur enim ducimus ipsa id saepe eius accusantium error! Adipisci, exercitationem est!
            Autem tempora provident blanditiis possimus ad! Ab, dolores labore omnis quae facilis, quas sequi corporis consequuntur expedita non dolorum eos. Dignissimos itaque doloremque mollitia nesciunt modi architecto reiciendis incidunt officia.</p>
        </div>
    </div>
</div>